<% provide :title, 'Decks' %>
<h1>Decks</h1>

<ul class="decks">
  <%= render @decks %>
</ul>

<%= will_paginate %>

<div class="row">
  <div class="span4 offset4">
    <%= render 'decks/deck_form' %>
  </div>
</div>
